---
---

@import "minima";

body{
    background-color: #222;
    color:white;
}

article{
    max-width: 600px;
}

footer{
    background-color: rgb(0, 43, 43);
}

a{
    color:aqua;
}

a:visited{
    color:aqua;
}

.wrapper{
    max-width: 900px;
}

.site-header{
    background-color: rgb(0, 43, 43);
    border-bottom-color: rgb(0,99,99);
}

.site-footer{
    border-top-color: rgb(0, 99, 99);
}

.site-title{
    color:white;
}

.site-title:visited{
    color:white;
}

.site-nav .page-link{
    color:aqua;
}

/* portfolio start */

.portfolio-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    padding:0px;
    width:100%;
}

.portfolio-item{
    display:block;
    width:300px;
    height:auto;
    aspect-ratio: 1;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s;
}

.portfolio-item:hover{
    background-size: 110%;
    transition: background-size 1s;
}

/* GALLERY */

.gallery-button{
    border-style:none;
    border-radius: 0px;
    border-width:0px;
    background-color: rgba(0,50,50,0.5);
}

.gallery-button svg{
    fill:rgb(0, 200, 200);
}

.gallery-button:hover{
    background-color: rgba(0,100,100, 0.5);
    cursor: pointer;
}

.gallery-button:active{
    background-color:rgba(0,100,100,1);
}

.gallery-button:hover svg{
    fill: rgb(0,255,255);
}

.previous{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.next{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

@media screen and (max-width: 600px){
    .site-nav {
        background-color: rgb(0, 43, 43);
        border-width: 1px;
        border-color: rgb(0, 99, 99);
    }

    .site-nav .menu-icon > svg {
        fill: rgb(0, 99, 99);
    }

    .portfolio-item{
        width:100vw !important;
        height:auto;
        aspect-ratio: 1;
    }
}