---
---

@import "minima";

code{
    background-color: #151515;
}

.highlight {
    background-color: #151515;
}

.highlighter-rouge .highlight{
    background-color: #151515;
}

.highlight pre {
    background-color: #151515;
}

.highlight code {
    background-color: #151515;
}

/* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: #87939d;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: #151515;
  }

  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #848484;
  }

  .highlight .cp {
    color: #f4bf75;
  }

  .highlight .nt {
    color: #f4bf75;
  }

  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }

  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }

  .highlight .gi {
    color: #90a959;
  }

  .highlight .gd {
    color: #f08a8b;
    background-color: #320000;
  }

  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }

  .highlight .kc {
    color: #d28445;
  }

  .highlight .kt {
    color: #d28445;
  }

  .highlight .kd {
    color: #d28445;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }

  .highlight .sa {
    color: #aa759f;
  }

  .highlight .sr {
    color: #75b5aa;
  }

  .highlight .si {
    color: #b76d45;
  }

  .highlight .se {
    color: #b76d45;
  }

  .highlight .nn {
    color: #f4bf75;
  }

  .highlight .nc {
    color: #f4bf75;
  }

  .highlight .no {
    color: #f4bf75;
  }

  .highlight .na {
    color: #6a9fb5;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }

  .highlight .ss {
    color: #90a959;
  }

body{
    background-color: #222;
    color:white;
}

article{
    max-width: 600px;
}

iframe{
    border-style:none;
}

footer{
    background-color: rgb(0, 43, 43);
}

a{
    color:aqua;
}

a:visited{
    color:aqua;
}

.wrapper{
    max-width: 900px;
}

.site-header{
    background-color: rgb(0, 43, 43);
    border-bottom-color: rgb(0,99,99);
}

.site-footer{
    border-top-color: rgb(0, 99, 99);
}

.site-title{
    color:white;
}

.site-title:visited{
    color:white;
}

.site-nav .page-link{
    color:aqua;
}

/* portfolio start */

.portfolio-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    padding:0px;
    width:100%;
}

.portfolio-item{
    display:block;
    width:300px;
    height:auto;
    aspect-ratio: 1;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s;
}

.portfolio-item:hover{
    background-size: 110%;
    transition: background-size 1s;
}

/* GALLERY */

.gallery-button{
    border-style:none;
    border-radius: 0px;
    border-width:0px;
    background-color: rgba(0,50,50,0.5);
}

.gallery-button svg{
    fill:rgb(0, 200, 200);
}

.gallery-button:hover{
    background-color: rgba(0,100,100, 0.5);
    cursor: pointer;
}

.gallery-button:active{
    background-color:rgba(0,100,100,1);
}

.gallery-button:hover svg{
    fill: rgb(0,255,255);
}

.previous{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.next{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

@media screen and (max-width: 600px){
    .site-nav {
        background-color: rgb(0, 43, 43);
        border-width: 1px;
        border-color: rgb(0, 99, 99);
    }

    .site-nav .menu-icon > svg {
        fill: rgb(0, 99, 99);
    }

    .portfolio-item{
        width:100vw !important;
        height:auto;
        aspect-ratio: 1;
    }
}